{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "printWidth": 110,
  "bracketSpacing": true,
  "proseWrap": "always",
  "endOfLine": "lf",
  "importOrder": [
      "^@(?!nestjs)(.*)$",
      "^@nestjs/(.*)$",
      "^../(?!common|components|modules|services)[^/]+$",
      "^../(.*)$",
      "^.*\\.entity\\.ts$",
      "^.*\\.service\\.ts$",
      "^.*\\.controller\\.ts$",
      "^.*\\.dto\\.ts$",
      "^[./](?!common|components|modules|services).*",
      "^src/(?!utils|common|data_layer)(.*)$",
      "^src/data_layer/(.*)$",
      "^src/utils/(.*)$",
      "^src/common/(.*)$",
      "<THIRD_PARTY_MODULES>",
      "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"],
  "quoteProps": "consistent"
}
